* {
    margin: 0px;
    padding: 0px;
}

body{
    color: white;
    font-family: Montserrat, sans-serif;
}


body{
    background-color:#191f3e;
    font-family: Montserrat, sans-serif;
}

.nav-list{
    background-color:#191f3e;
    margin:0;
    padding: 1rem 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    list-style:none;
    margin-right: 2rem;
}

.nav-item a{
    text-decoration: none;
    color:white;
}

.nav-item a:hover{
    color:gray;
    transition: all 200ms ease-in;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 3rem;
    font-size: 2rem;
}

.btn{
    font-family: Montserrat, sans-serif;
    color:white;
    font-size: 1rem;
    background: none;
    border:none;
    outline:none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn:hover{
    color: gray;
}
/*___________________Introduction__________________*/

.intro{
    margin-top: 5rem;
    width:100%;
    height: 36rem;
    
   
}
.introduction{
   display:flex;
   justify-content: space-between;
   width: 100%;
   padding:2rem 0;
}

.introduction-left{
    width: 60%;
    margin: 0 5rem;
    display: flex;
}

.introduction-content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.introduction-content p{
    font-size: 20px;
    margin-bottom: 5rem;
}

.introduction-content button{
    font-family: Montserrat, sans-serif;
    background-color: darkgray;
    border: none;
    outline:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.introduction-content button:hover{
    color:gray;
}


.introduction-right{
    width: 40%;
    display:flex;
    justify-content: flex-end;
    margin: 0 2rem;
    
}

.headshot{
    width: 100%;
}

.headshot img{
    width: 20rem;
    height: 25rem;
    border-radius: 300px;
    
}
/*___________________About_Me__________________*/

.about h2{
    text-align:center;
    margin: 0 auto 5rem auto;

}

.about h2::after{
    content:"";
    text-align:center;
    display:block;
    width:60px;
    height:3px;
    background-color:white;
    margin:0.4rem auto 0 auto;
    border-radius:2px;

}

.about-me{
    margin-top: 3rem;
    width:100%;
    display:flex;
    justify-content: space-around;
    /*border: 1px solid red; */
  
}

.boxesContainer {
    width: 20rem;
    max-width: 400px;
    height: 25rem;
    max-height:800px;
    aspect-ratio: 1 / 1;
    position:relative;
    margin-left: 120px;
    margin-top: 30px;
}

.box {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 0.3em;
   
   
}

.profile-picture {
  background-color: #e74c3c;
  top: -5%;
  left: -5%;
  width: 100%;
  height: 100%;
  z-index: 2;

}

.profile-frame {
    box-shadow: 0px 0px 8px gray;
    border: 1px solid black;
    
}

img{
    width:100%;
    height:100%;
    border-radius: 0.3em;

}

.description span{
    font-size: 22px;
}
.description{
    width:45%;
    
    margin-left: 8rem;
    
}
.description p{
    margin-top:2rem;
    font-size: 18px;
    text-align:left;
}

/*Skills section*/


.skills{
    margin-top: 3rem;
}

.skills h2{
    text-align: center;
    margin: 7rem auto 5rem auto;
}

.skills h2::after{
    content:"";
    text-align:center;
    display:block;
    width:60px;
    height:3px;
    background-color:white;
    margin:0.4rem auto 0 auto;
    border-radius:2px;
}

.skill-container{
    border: 1px gray solid;
    width: 25%;
    height: 30rem;
}

.skills-container {
    display: flex;
    gap: 20px;
}

/* Left column */
.languages {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 60%;
    background: #e3f0ff;
    padding: 20px;
    border-radius: 8px;
}

/* Right column container */
.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.frameworks, .tools {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}
.skills-pair span{
    color:black;
    text-align: center;
}
.skill-pair img{
    width: 80px;
    height:80px;
}
/*Projects section*/

.projects{
    margin-top: 3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.projects h2{
    text-align:center;
    margin: 7rem auto 5rem auto;

}

.projects h2::after{
    content:"";
    text-align:center;
    display:block;
    width:60px;
    height:3px;
    background-color:white;
    margin:0.4rem auto 0 auto;
    border-radius:2px;

}
.projects h1{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.project img{
    width:auto;
}

.project{
    width:90%;
    height:20rem;
    margin: 1rem;
    border: solid 2px black;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    gap: 10px;
    background-color: #E9E9E9;

}

footer .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

footer .logos img {
    width: 25px;
    height: 25px;
}